apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: churn-system
  labels:
    app: churn-api
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  selector:
    app: churn-api
