apiVersion: v1
kind: Service
metadata:
  name: mlflow-service
  namespace: churn-system
  labels:
    app: mlflow
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    app: mlflow
